<nav class="navbar has-background-primary-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ site.url }}">
            <img src="/assets/img/icon.svg" width="28" height="28" alt="icon">
        </a>

        <span class="navbar-item has-text-weight-bold">{{ site.title }}</span>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-nav">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="main-nav" class="navbar-menu">
        <div class="navbar-start">
            <a href="{{ site.url }}" class="navbar-item">
                Home
            </a>
        </div>
    </div>
</nav>
