---
layout: base
---
{% assign emoji_source = site.emoji_source | where:"title", page.title | first -%}
{% assign emoji_json = site.emoji_json | where:"title", page.title | first -%}

{% assign license = site.data.licenses | where:"id",page.license | first %}
{% if license == nil %}{% assign license = site.data.licenses | where:"title",page.license | first %}{% endif %}

{% assign svg_url = emoji_source.url | absolute_url %}
{% assign json_url = emoji_json.url | absolute_url %}

<nav class="breadcrumb px-3 pt-3" aria-label="breadcrumbs">
    <ul>
        <li><a href="../">Emoji List</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{ page.title }}</a></li>
    </ul>
</nav>

<div class="columns is-multiline is-justify-content-center pb-3">
    <div class="column is-narrow">
        <div class="card">
            <div class="card-header">
                <h1 class="card-header-title">Details about {{ page.title }}</h1>
            </div>
            <div class="card-content pt-2">
                <div class="emote-preview">
                    {% assign sizes = "24, 32, 48, 64, 96, 128" | split: ", " -%}
                    {% for size in sizes -%}
                    <img class="show-off-transparency image is-{{ size }}x{{ size }}"
                         src="{{ svg_url }}" alt="{{ page.title }}"/>
                    {% endfor -%}
                </div>

                <p>
                    <strong>{% if page.sources.size == 1 %}Source{% else %}Sources{% endif %}:</strong>
                    {% for source in page.sources %}
                    <a href="{{ source.link }}">{{ source.name }}</a>{% unless forloop.last %}, {% endunless -%}
                    {% else %}
                    Unknown
                    {% endfor %}
                </p>

                <p>
                    <strong>License:</strong>
                    {% if license != nil %}
                    <a href="{{ license.url }}" title="{{ license.title }}">{{ license.id }}</a>
                    {% else %}
                    Unknown
                    {% endif %}
                </p>

                <a class="button" href="{{ svg_url }}">
                    <span class="icon">
                        <i class="fas fa-circle-nodes"></i>
                    </span>
                    <span>SVG</span>
                </a>

                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="png-menu">
                            <span class="icon">
                                <i class="fas fa-image"></i>
                            </span>
                            <span>PNG</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="png-menu" role="menu">
                        <div class="dropdown-content">
                            {% assign sizes = "32, 64, 128" | split: ", " -%}
                            {% for size in sizes -%}
                            <div class="dropdown-item">
                                <span class="icon">
                                    <i class="fas fa-link"></i>
                                </span>
                                <a href="https://resvg.emoji.lgbt/api/v1/7a31cfe8/{{ page.slug }}.png?width={{ size }}">
                                    {{ size }}x{{ size }}
                                </a>
                            </div>
                            {% endfor -%}
                        </div>
                    </div>
                </div>


                <a class="button" href="{{ json_url }}">
                    <span class="icon">
                        <i class="fas fa-code"></i>
                    </span>
                    <span>JSON</span>
                </a>
            </div>
        </div>
    </div>
    <div class="column is-narrow">
        <div class="card">
            <div class="card-header">
                <h1 class="card-header-title">Social Media Preview</h1>
            </div>
            <div class="card-content">
                <div class="dis-preview">
                    <div class="dis-message">
                        <span class="dis-profile icon d-flex is-justify-content-center is-align-items-center">
                            <i class="fab fa-discord fa-xl"></i>
                        </span>
                        <div>
                            <div>
                                <span class="dis-name">Delicious Cake</span>
                                <small class="dis-time">Today at 2:50 PM</small>
                            </div>
                            <div>
                                <img class="dis-emote" src="{{ svg_url }}" alt=":{{ page.slug }}:"/>
                            </div>
                        </div>
                    </div>
                    <div class="dis-message">
                        <span class="dis-profile icon d-flex is-justify-content-center is-align-items-center">
                            <i class="fab fa-discord fa-xl"></i>
                        </span>
                        <div>
                            <div>
                                <span class="dis-name">Delicious Cake</span>
                                <small class="dis-time">Today at 2:50 PM</small>
                            </div>
                            <div class="dis-content">
                                <img class="dis-emote" src="{{ svg_url }}" alt=":{{ page.slug }}:"/>
                                is a great emoji!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slack-preview">
                    <div class="slack-message">
                        <span class="slack-profile icon d-flex is-justify-content-center is-align-items-center">
                            <i class="fab fa-slack fa-xl"></i>
                        </span>
                        <div>
                            <div class="slack-name-time">
                                <span class="slack-name">A Professional With Standards</span>
                                <small>2:50 PM</small>
                            </div>
                            <div>
                                <img class="slack-emote" src="{{ svg_url }}" alt=":{{ page.slug }}:"/>
                            </div>
                        </div>
                    </div>
                    <div class="slack-message">
                        <span class="slack-profile icon d-flex is-justify-content-center is-align-items-center">
                            <i class="fab fa-slack fa-xl"></i>
                        </span>
                        <div>
                            <div class="slack-name-time">
                                <span class="slack-name">A Professional With Standards</span>
                                <small>2:50 PM</small>
                            </div>
                            <div class="slack-content">
                                <img class="slack-emote" src="{{ svg_url }}" alt=":{{ page.slug }}:"/>
                                is a great emoji!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
